body{
    background-color: #26244b;
    color: white;
}

.taelbg{
    background-color: #26244b;
    color: white;
}

.imgbg{
    background-image: url("img/bg/bg2.jpg");
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.extralargetext{
    font-size: calc(1.375rem + 3vw);
}

.navbar{
    z-index: 10;
}

.speakermainbox{
    z-index: 1;
}

.onestepback{
    z-index: 1;
}